<div class="orderform" ng-app="WCPOrder" ng-controller="OrderController as orderCtrl">
  <span id="ordertop"></span>
  <div ng-show="orderCtrl.s.stage == 0 || orderCtrl.s.stage == 1" ng-controller="PizzaMenuController as pmenuCtrl">
    <div class="ordering-menu menu-list menu-list__dotted" ng-show="orderCtrl.s.stage == 0 && !pmenuCtrl.selection">
      <h3 class="flush--top" ng-if="orderCtrl.s.cart.pizza.length === 0"><strong>Click a pizza below to get started</strong></h3>
      <h3 class="flush--top" ng-if="orderCtrl.s.cart.pizza.length > 0"><strong>Click a pizza below or next to continue</strong></h3>
      <ul class="flexitems menu-list__items">
        <li class="flexitem menu-list__item" ng-repeat="pizza in pmenuCtrl.pizza_menu">
          <div class="offer-link" ng-click="orderCtrl.ScrollTop(); pmenuCtrl.setPizza(pizza)">
            <wcppizzacartitem pizza="pizza" dots="true" price="true"></wcppizzacartitem>
          </div>
        </li>
      </ul>
    </div>
    <div class="customizer menu-list__items" ng-show="pmenuCtrl.selection">
      <h3 class="flush--top"><strong>Customize your pizza</strong></h3>
      <div class="menu-list__item">
        <wcppizzacartitem pizza="pmenuCtrl.selection" dots="true" price="true"></wcppizzacartitem>
      </div>
      <hr class="separator">
      <div class="wpcf7-response-output wpcf7-validation-errors" ng-if="!pmenuCtrl.suppress_guide && pmenuCtrl.message">{{pmenuCtrl.message}}</div>
      <div ng-if="pmenuCtrl.selection">
        <div>Sauce:</div>
        <div class="flexitems">
          <div class="flexitem" ng-repeat="sauce in pmenuCtrl.sauces">
            <input id="{{sauce.shortname}}_whole" class="input-whole" ng-model="pmenuCtrl.selection.sauce" ng-value="sauce" ng-disabled="!sauce.ShowOption(pmenuCtrl.selection)" type="radio" ng-change="pmenuCtrl.updateSelection()">
            <span class="option-circle-container">
              <label for="{{sauce.shortname}}_whole" class="option-whole option-circle"></label>
            </span>
            <label class="topping_text" for="{{sauce.shortname}}_whole">{{sauce.name}}</label>
          </div>
        </div>
        <div>Crust:</div>
        <div class="flexitems">
          <div class="flexitem">
            <input type="checkbox" id="{{pmenuCtrl.crusts["garlic"].shortname}}_whole" class="input-whole" ng-model="pmenuCtrl.selection.crust" ng-true-value="'garlic'" ng-false-value="'regular'" ng-change="pmenuCtrl.updateSelection()">
            <span class="option-circle-container">
              <label for="{{pmenuCtrl.crusts["garlic"].shortname}}_whole" class="option-whole option-circle"></label>
            </span>
            <label class="topping_text" for="{{pmenuCtrl.crusts["garlic"].shortname}}_whole">{{pmenuCtrl.crusts["garlic"].name}}</label>
          </div>
        </div>
        <div>Cheese:</div>
        <div class="flexitems">
          <div class="flexitem">
            <input type="checkbox" id="{{pmenuCtrl.cheese_options["extra_mozz"].shortname}}_whole" class="input-whole" ng-model="pmenuCtrl.selection.cheese_option" ng-true-value="'extra_mozz'" ng-false-value="'regular'" ng-change="pmenuCtrl.updateSelection()">
            <span class="option-circle-container">
              <label for="{{pmenuCtrl.cheese_options["extra_mozz"].shortname}}_whole" class="option-whole option-circle"></label>
            </span>
            <label class="topping_text" for="{{pmenuCtrl.cheese_options["extra_mozz"].shortname}}_whole">{{pmenuCtrl.cheese_options["extra_mozz"].name}}</label>
          </div>
        </div>
        <div>Toppings&nbsp;(limit&nbsp;5<span ng-if="pmenuCtrl.selection.is_split">&nbsp;per&nbsp;side</span>):</div>
        <div class="flexitems">
          <div class="flexitem" wcptoppingdir ng-repeat="topping in pmenuCtrl.toppings" selection="pmenuCtrl.selection" pmenuctrl="pmenuCtrl" topping="topping" config="orderCtrl.CONFIG" split="orderCtrl.split_toppings">
          </div>
        </div>
      </div>
      <div class="order-nav">
        <span class="one-fifth">
          <button name="remove" class="btn button-remove scrolltotop" ng-click="pmenuCtrl.unsetPizza()">Cancel</button>
        </span>
        <span class="four-fifths">
          <span class="order-nav-item float--right"><button name="add" class="btn scrolltotop" ng-click="orderCtrl.addPizzaToOrder(pmenuCtrl.quantity, pmenuCtrl.selection); pmenuCtrl.unsetPizza()">Add to order</button></span>
        </span>
      </div>
    </div>
    <div class="ordering-menu menu-list menu-list__dotted" ng-show="orderCtrl.s.stage == 1">
      <h3 class="flush--top"><strong>Add salad or click next to continue</strong></h3>
      <ul class="menu-list__items">
        <li class="menu-list__item" ng-repeat="extra in pmenuCtrl.extras_menu">
          <div class="offer-link" ng-click="orderCtrl.ScrollTop(); orderCtrl.addExtraToOrder(extra)">
            <h4 class="menu-list__item-title"><span class="item_title">{{extra.name}}</span><span class="dots"></span></h4>
            <p class="menu-list__item-desc">
              <span class="desc__content">{{extra.description}}</span>
            </p>
            <span class="dots"></span>
            <span class="menu-list__item-price">{{extra.price}}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="cart" ng-if="orderCtrl.s.cart.pizza.length > 0 || orderCtrl.s.cart.extras.length > 0">
      <hr class="separator">
      <h3 class="flush">Current Order</h3>
        <div class="content">
          <table>
            <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in orderCtrl.s.cart.pizza" class="cart-item">
                <td>
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="menu-list__item">
                      <wcppizzacartitem pizza="item[1]" dots="false" price="false"></wcppizzacartitem>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="grid-flex grid-valign-middle">
                    <input type="number" class="quantity" min=1 max=99 ng-model="item[0]" ng-blur="orderCtrl.fixQuantities()">
                    <span class="cart-item-remove">
                      <button name="remove" ng-click="orderCtrl.ScrollTop(); orderCtrl.removePizzaFromOrder($index)" class="button-remove">X</button>
                    </span>
                  </div>
                </td>
              </tr>
              <tr ng-repeat="item in orderCtrl.s.cart.extras" class="cart-item">
                <td>
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">{{item[1].name}}</span></h4>
                      <p class="menu-list__item-desc"><span class="desc__content">{{item[1].description}}</span></p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="grid-flex grid-valign-middle">
                    <input type="number" class="quantity" min=1 max=99 ng-model="item[0]" ng-blur="orderCtrl.fixQuantities()">
                    <span class="cart-item-remove">
                      <button name="remove" ng-click="orderCtrl.ScrollTop(); orderCtrl.removeExtraFromOrder($index)" class="button-remove">X</button>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="order-nav" ng-hide="pmenuCtrl.selection">
      <h5 class="order-nav-item float--right" ng-if="orderCtrl.s.cart.pizza.length < 1 && orderCtrl.s.stage == 0">First, click on an item above to add it to your order</h5>
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
      <button type="submit" class="btn scrolltotop" ng-disabled="orderCtrl.s.cart.pizza.length < 1" ng-show="orderCtrl.HasNextStage() && orderCtrl.s.cart.pizza.length >= 1" ng-click="pmenuCtrl.unsetPizza(); orderCtrl.NextStage()">Next</button>
    </div>
  </div>
  <div ng-show="orderCtrl.s.stage == 2">
    <h3 class="flush--top">Tell us a little about you.</h3>
    <div class="wpcf7-response-output wpcf7-mail-sent-ng" ng-if="orderCtrl.s.submit_failed">There was an error submitting your order. This is generally caused by a bad email address. Please check your information and try again.</div>
    <form novalidate name="stage2">
      <span class="customer-name-text">Name:</span>
      <span class="wpcf7-form-control-wrap customer-name">
        <input type="text" name="customer_name" size="40" ng-model="orderCtrl.s.customer_name" ng-change="orderCtrl.ChangedContactInfo()" required>
      </span>
      <span class="phone-number-text">Mobile Phone Number:</span>
      <span class="wpcf7-form-control-wrap phonenum">
        <input type="tel" name="phone_number" value="" size="40" ng-model="orderCtrl.s.phone_number" ng-change="orderCtrl.ChangedContactInfo()" ng-pattern="/[\d|\+|(|)|\.|\s|-]{10,}/" required>
      </span>
      <span class="user-email-text">E-mail Address:</span>
      <span class="wpcf7-form-control-wrap user-email">
        <input type="email" name="user_email" value="" size="40" ng-model="orderCtrl.s.email_address" ng-change="orderCtrl.ChangedContactInfo()" required>
      </span>
      <div class="user-email-tip"></div>
      <span class="referral-text">Referral information:</span>
      <span class="wpcf7-form-control-wrap referral-info">
        <input type="text" name="referral_info" value="" size="40" ng-model="orderCtrl.s.referral">
      </span>
    </form>
    <div class="order-nav">
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
      <button type="submit" class="btn scrolltotop" ng-disabled="!stage2.$valid || orderCtrl.s.submit_failed" ng-show="orderCtrl.HasNextStage()" ng-click="orderCtrl.NextStage()">Next</button>
    </div>
  </div>
  <div ng-show="orderCtrl.s.stage == 3">
    <h3 class="flush--top">How and when would you like your order?</h3>
    <span>Requested Service:</span>
    <form novalidate name="stage3">
    <div class="flexitems">
      <div class="flexitem" ng-repeat="service in orderCtrl.CONFIG.SERVICE_TYPES track by $index">
        <label ng-if="orderCtrl.s.service_type_functors[$index](orderCtrl.s)"><input type="radio" ng-change="orderCtrl.ValidateDate(); orderCtrl.ClearAddress(); orderCtrl.ComputeDeliveryFee()" ng-model="orderCtrl.s.service_type" ng-value="service[1]">
        {{service[0]}}</label>
      </div>
    </div>
    <span class="service-date-text">Date</span>
    <span class="wpcf7-form-control-wrap service-date">
      <input type="text" name="service-date" value="" size="40" ng-model="orderCtrl.s.date_string" ng-change="orderCtrl.ValidateDate()" jqdatepicker orderinfo="orderCtrl" required autocomplete="off">
    </span>
    <span class="service-time-text">Time</span>
    <span class="wpcf7-form-control-wrap service-time">
      <select ng-disabled="!orderCtrl.s.date_valid" name="service-time" ng-model="orderCtrl.s.service_time" ng-options="servicetime | MinutesToPrintTime for servicetime in orderCtrl.s.service_times" ng-change="orderCtrl.ServiceTimeChanged()">
      </select>
    </span>
    <div class="wpcf7-response-output wpcf7-mail-sent-ng" ng-if="orderCtrl.s.selected_time_timeout">The previously selected service time has expired.</div>
    <legend ng-show="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
      <span class="delivery-address-text">Delivery Address:</span>
    </legend>
    <span ng-show="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
      <input type="text" name="address" size="40" ng-model="orderCtrl.s.delivery_address" address>
    </span>
    <legend ng-show="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
      <span class="delivery-zipcode-text">Zip Code:</span>
    </legend>
    <span ng-show="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY" class="wpcf7-form-control-wrap zipcode">
      <input type="text" name="zipcode" size="40" ng-model="orderCtrl.s.delivery_zipcode" ng-change="orderCtrl.ComputeDeliveryFee()" zipcode>
    </span>
    </form>
    <div class="order-nav">
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
      <button type="submit" class="btn scrolltotop" ng-disabled="!orderCtrl.s.date_valid || (orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY && (stage3.address.$error.address || stage3.zipcode.$error.zipcode))" ng-show="orderCtrl.HasNextStage()" ng-click="orderCtrl.NextStage()">Next</button>
    </div>
  </div>
  <div ng-show="orderCtrl.s.stage == 4">
      <h3 class="flush--top">Everything look right?</h3>
      <table>
        <tr>
          <td>Name</td>
          <td>{{orderCtrl.s.customer_name}}</td>
        </tr>
        <tr>
          <td>Mobile Number</td>
          <td>{{orderCtrl.s.phone_number}}</td>
        </tr>
        <tr>
          <td>E-Mail</td>
          <td>{{orderCtrl.s.email_address}}</td>
        </tr>
        <tr>
          <td>Service</td>
          <td>{{orderCtrl.CONFIG.SERVICE_TYPES[orderCtrl.s.service_type][0]}} on {{orderCtrl.s.selected_date | date:'EEEE, MMMM dd, yyyy'}} at {{orderCtrl.s.service_time | MinutesToPrintTime}}</td>
        </tr>
        <tr ng-if="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
          <td>Address</td>
          <td>{{orderCtrl.s.delivery_address}}, Seattle, {{orderCtrl.s.delivery_zipcode}}</td>
        </tr>
      </table>
      <div class="cart">
        <div class="content border-bottom border-none-at-medium">
          <table class="cart-table table-collapse-until-medium table-border-rows table-pad-line valign-middle header-color">
            <thead>
              <tr>
                <th>Item</th>
                <th class="hide-until-medium">
                  <div class="grid-flex grid-valign-middle">
                    <span class="column no-shrink">Quantity</span>
                    <span class="column no-shrink">×</span>
                    <span class="column no-shrink">Price</span>
                  </div>
                </th>
                <th class="align-right">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in orderCtrl.s.cart.pizza" class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="menu-list__item">
                      <wcppizzacartitem pizza="item[1]" dots="false" price="false"></wcppizzacartitem>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap">
                  <div class="grid-flex grid-valign-middle">
                    <span class="column no-shrink menu-list__item-price">{{item[0]}}</span>
                    <span class="column no-shrink">×</span>
                    <span class="column no-shrink menu-list__item-price">{{item[1].price}}</span>
                  </div>
                </td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{item[1].price * item[0] | number:2}}</span></td>
              </tr>
              <tr ng-repeat="item in orderCtrl.s.cart.extras" class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">{{item[1].name}}</span></h4>
                      <p class="menu-list__item-desc"><span class="desc__content">{{item[1].description}}</span></p>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap">
                  <div class="grid-flex grid-valign-middle">
                    <span class="column no-shrink menu-list__item-price">{{item[0]}}</span>
                    <span class="column no-shrink">×</span>
                    <span class="column no-shrink menu-list__item-price">{{item[1].price}}</span>
                  </div>
                </td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{item[1].price * item[0] | number:2}}</span></td>
              </tr>
              <tr class="cart-item" ng-if="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Delivery Fee</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{orderCtrl.s.delivery_fee | number:2}}</span></td>
              </tr>
              <tr class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Sales Tax ({{orderCtrl.CONFIG.TAX_RATE * 100 | number:1}}%)</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{(orderCtrl.subtotal() + orderCtrl.s.delivery_fee) * orderCtrl.CONFIG.TAX_RATE | number:2}}</span></td>
              </tr>
              <tr class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Total</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{(orderCtrl.subtotal() + orderCtrl.s.delivery_fee) * (orderCtrl.CONFIG.TAX_RATE + 1) | number: 2}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <label><input type="checkbox" ng-model="orderCtrl.s.acknowledge_instructions_dialogue" ng-change="orderCtrl.ClearSpecialInstructions()">
    I need to specify some special instructions (and am aware this may delay my order)</label>
    <textarea ng-show="orderCtrl.s.acknowledge_instructions_dialogue" ng-model="orderCtrl.s.special_instructions"></textarea>
    <div class="order-nav">
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
      <span ng-click="orderCtrl.Submit()" cf7bridge class="cf7bridge scrolltotop" orderinfo="orderCtrl">
        [contact-form-7 id="13936" title="Order Form Bridge"]
      </span>
    </div>
  </div>
  <div ng-show="orderCtrl.s.stage == 5">
    <div class="wpcf7 wpcf7-response-output wpcf7-mail-sent-ok">Submitting order! This can take between 5-15 seconds.<span class="ajax-loader is-active"></span></div>
  </div>
  <div class="submitsuccess wpcf7-response-output wpcf7-mail-sent-ok" ng-show="orderCtrl.s.stage == 6">
    Order submitted successfully! Please check your email.
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mailcheck/1.1.2/mailcheck.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
