<div ng-cloak class="orderform" ng-app="WCPOrder" ng-controller="OrderController as orderCtrl">
  <span id="ordertop"></span>
  <div ng-show="orderCtrl.s.stage === 1 || orderCtrl.s.stage === 2" ng-controller="PizzaMenuController as pmenuCtrl">
    <div class="ordering-menu menu-list menu-list__dotted" ng-show="orderCtrl.s.stage === 1 && !pmenuCtrl.selection">
      <h3 class="flush--top" ng-if="orderCtrl.s.cart.pizza.length === 0"><strong>Click a pizza below to get started</strong></h3>
      <h3 class="flush--top" ng-if="orderCtrl.s.cart.pizza.length > 0"><strong>Click a pizza below or next to continue</strong></h3>
      <ul class="flexitems menu-list__items">
        <li class="flexitem menu-list__item" ng-repeat="pizza in pmenuCtrl.pizza_menu">
          <div class="offer-link" ng-click="orderCtrl.ScrollTop(); pmenuCtrl.setPizza(pizza)">
            <wcppizzacartitem pizza="pizza" description="true" dots="true" price="true"></wcppizzacartitem>
          </div>
        </li>
      </ul>
    </div>
    <div class="customizer menu-list__items" ng-show="pmenuCtrl.selection">
      <h3 class="flush--top"><strong>Customize your pizza</strong></h3>
      <div class="menu-list__item">
        <wcppizzacartitem pizza="pmenuCtrl.selection" description="false" dots="true" price="true"></wcppizzacartitem>
      </div>
      <hr class="separator">
      <div ng-if="pmenuCtrl.selection">
        <div>Sauce:</div>
        <div class="flexitems">
          <div class="flexitem" ng-repeat="sauce in pmenuCtrl.sauces">
            <input id="{{sauce.shortname}}_whole" class="input-whole" ng-model="pmenuCtrl.selection.sauce" ng-value="sauce" ng-disabled="!sauce.ShowOption(pmenuCtrl.selection)" type="radio" ng-change="pmenuCtrl.updateSelection()">
            <span class="option-circle-container">
              <label for="{{sauce.shortname}}_whole" class="option-whole option-circle"></label>
            </span>
            <label class="topping_text" for="{{sauce.shortname}}_whole">{{sauce.name}}</label>
          </div>
        </div>
        <div>Cheese:</div>
        <div class="flexitems">
          <div class="flexitem" ng-repeat="cheese in pmenuCtrl.cheese_options">
            <input id="{{cheese.shortname}}_whole" class="input-whole" ng-model="pmenuCtrl.selection.cheese_option" ng-value="cheese" ng-disabled="!cheese.ShowOption(pmenuCtrl.selection)" type="radio" ng-change="pmenuCtrl.updateSelection()">
            <span class="option-circle-container">
              <label for="{{cheese.shortname}}_whole" class="option-whole option-circle"></label>
            </span>
            <label class="topping_text" for="{{cheese.shortname}}_whole">{{cheese.name}}</label>
          </div>
        </div>
        <div>Toppings&nbsp;(limit&nbsp;{{pmenuCtrl.BAKE_MAX}}<span ng-if="pmenuCtrl.selection.is_split">&nbsp;per&nbsp;side</span>):</div>
        <div class="flexitems">
          <div class="flexitem" wcptoppingdir ng-repeat="topping in pmenuCtrl.toppings" selection="pmenuCtrl.selection" pmenuctrl="pmenuCtrl" topping="topping" config="orderCtrl.CONFIG" split="orderCtrl.split_toppings">
          </div>
        </div>
      </div>
      <span ng-if="!pmenuCtrl.suppress_guide && pmenuCtrl.messages.length">
        <div class="wpcf7-response-output wpcf7-validation-errors" ng-repeat="msg in pmenuCtrl.messages">{{msg}}</div>
      </span>
      <div class="order-nav">
        <span class="one-fifth">
          <button name="remove" class="btn button-remove scrolltotop" ng-click="pmenuCtrl.unsetPizza()">Cancel</button>
        </span>
        <span class="four-fifths">
          <span class="order-nav-item float--right"><button name="add" class="btn scrolltotop" ng-click="orderCtrl.addPizzaToOrder(pmenuCtrl.quantity, pmenuCtrl.selection); pmenuCtrl.unsetPizza()">Add to order</button></span>
        </span>
      </div>
    </div>
    <md-content ng-show="orderCtrl.s.stage === 2" ng-controller="AccordionController as accordionCtrl">
      <h3 class="flush--top"><strong>Add small plates or beverages to your order.</strong></h3>
      <div class="ordering-menu menu-list menu-list__dotted md-accordion" ng-repeat="submenu in pmenuCtrl.extras_menu">
        <md-toolbar ng-click="accordionCtrl.toggleAccordion($index)" role="button">
          <div class="md-toolbar-tools">
            <h2>
              <span><strong>{{submenu.menu_name}}</strong></span>
              <span style="color: red;" ng-if="submenu.in_red"><strong>{{submenu.in_red}}</strong></span>
            </h2>
            <span flex="" class="flex"></span>
            <span ng-class="{expandCollapse:true, active:accordionCtrl.accordionstate[$index]}"></span> 
          </div>
        </md-toolbar> 
        <ul ng-class="{dataContent:true, activeContent:accordionCtrl.accordionstate[$index]}" class="menu-list__items">
          <li class="menu-list__item" ng-if="submenu.subtitle"><strong>{{submenu.subtitle}}</strong></li>
          <li class="menu-list__item" ng-repeat="extra in submenu.menu">
            <div class="offer-link" ng-click="orderCtrl.ScrollTop(); orderCtrl.addExtraToOrder(extra)">
              <h4 class="menu-list__item-title"><span class="item_title">{{extra.name}}</span><span class="dots"></span></h4>
              <p class="menu-list__item-desc">
                <span class="desc__content">{{extra.description}}</span>
              </p>
              <span class="dots"></span>
              <span class="menu-list__item-price">{{extra.price}}</span>
            </div>
          </li>
        </ul>
      </div>
    </md-content>
    <div class="cart" ng-if="orderCtrl.s.cart.pizza.length > 0 || orderCtrl.s.cart.extras.length > 0">
      <hr class="separator">
      <h3 class="flush">Current Order</h3>
        <div class="content">
          <table>
            <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in orderCtrl.s.cart.pizza" class="cart-item">
                <td>
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="menu-list__item">
                      <wcppizzacartitem pizza="item[1]" description="true" dots="false" price="false"></wcppizzacartitem>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="grid-flex grid-valign-middle">
                    <input type="number" class="quantity" min=1 max=99 ng-model="item[0]" ng-blur="orderCtrl.fixQuantities(true)" ng-change="orderCtrl.fixQuantities(false)">
                    <span class="cart-item-remove">
                      <button name="remove" ng-click="orderCtrl.ScrollTop(); orderCtrl.removePizzaFromOrder($index)" class="button-remove">X</button>
                    </span>
                  </div>
                </td>
              </tr>
              <tr ng-repeat="item in orderCtrl.s.cart.extras" class="cart-item">
                <td>
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">{{item[1].name}}</span></h4>
                      <p class="menu-list__item-desc"><span class="desc__content">{{item[1].description}}</span></p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="grid-flex grid-valign-middle">
                    <input type="number" class="quantity" min=1 max=99 ng-model="item[0]" ng-blur="orderCtrl.fixQuantities(true)" ng-change="orderCtrl.fixQuantities(false)">
                    <span class="cart-item-remove">
                      <button name="remove" ng-click="orderCtrl.ScrollTop(); orderCtrl.removeExtraFromOrder($index)" class="button-remove">X</button>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="order-nav" ng-hide="pmenuCtrl.selection">
      <h5 class="order-nav-item float--right" ng-if="orderCtrl.s.cart.pizza.length < 1 && orderCtrl.s.stage === 1">First, click on an item above to add it to your order</h5>
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
      <button type="submit" class="btn scrolltotop" ng-disabled="orderCtrl.s.cart.pizza.length < 1" ng-show="orderCtrl.HasNextStage() && orderCtrl.s.cart.pizza.length >= 1" ng-click="pmenuCtrl.unsetPizza(); orderCtrl.NextStage()">Next</button>
    </div>
  </div>
  <div ng-show="orderCtrl.s.stage === 3">
    <h3 class="flush--top">Tell us a little about you.</h3>
    <div class="wpcf7-response-output wpcf7-mail-sent-ng" ng-if="orderCtrl.s.submit_failed">There was an error submitting your order. This is generally caused by a bad email address. Please check your information and try again.</div>
    <form novalidate name="stage3">
      <span class="customer-name-text">Name:</span>
      <span class="wpcf7-form-control-wrap customer-name">
        <input type="text" name="customer_name" size="40" ng-model="orderCtrl.s.customer_name" ng-change="orderCtrl.ChangedContactInfo()" required>
      </span>
      <span class="phone-number-text">Mobile Phone Number:</span>
      <span class="wpcf7-form-control-wrap phonenum">
        <input jqmaskedphone type="tel" name="phone_number" value="" size="40" ng-model="orderCtrl.s.phone_number" ng-change="orderCtrl.ChangedContactInfo()" required>
      </span>
      <span class="user-email-text">E-mail Address:</span>
      <span class="wpcf7-form-control-wrap user-email">
        <input type="email" name="user_email" value="" size="40" ng-model="orderCtrl.s.email_address" ng-change="orderCtrl.ChangedContactInfo()" ng-pattern="orderCtrl.s.EMAIL_REGEX" required>
      </span>
      <div class="user-email-tip"></div>
      <span class="referral-text">Referral information:</span>
      <span class="wpcf7-form-control-wrap referral-info">
        <input type="text" name="referral_info" value="" size="40" ng-model="orderCtrl.s.referral">
      </span>
    </form>
    <div class="order-nav">
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
      <button type="submit" class="btn scrolltotop" ng-disabled="!stage3.$valid || orderCtrl.s.submit_failed" ng-show="orderCtrl.HasNextStage()" ng-click="orderCtrl.NextStage()">Next</button>
    </div>
  </div>
  <div ng-show="orderCtrl.s.stage === 4">
    <h3 class="flush--top">How and when would you like your order?</h3>
    <span>Requested Service:</span>
    <form novalidate name="stage4">
    <div class="flexitems">
      <div class="flexitem" ng-repeat="service in orderCtrl.CONFIG.SERVICE_TYPES track by $index">
        <label ng-if="orderCtrl.s.service_type_functors[$index](orderCtrl.s)"><input type="radio" ng-change="orderCtrl.ValidateDate(); orderCtrl.ClearAddress();" ng-model="orderCtrl.s.service_type" ng-value="service[1]">
        {{service[0]}}</label>
      </div>
    </div>
    <span class="service-date-text">Date</span>
    <span class="wpcf7-form-control-wrap service-date">
      <input type="text" name="service-date" value="" size="40" ng-model="orderCtrl.s.date_string" ng-change="orderCtrl.ValidateDate()" jqdatepicker orderinfo="orderCtrl" required autocomplete="off">
    </span>
    <span class="service-time-text">Time</span>
    <span class="wpcf7-form-control-wrap service-time">
      <select ng-disabled="!orderCtrl.s.date_valid" name="service-time" ng-model="orderCtrl.s.service_time" ng-options="servicetime | MinutesToPrintTime:orderCtrl.s.service_type for servicetime in orderCtrl.s.service_times" ng-change="orderCtrl.ServiceTimeChanged()">
      </select>
    </span>
    <div class="wpcf7-response-output wpcf7-mail-sent-ng" ng-if="orderCtrl.s.selected_time_timeout">The previously selected service time has expired.</div>
    <span class="flexbox" ng-show="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY && !orderCtrl.s.is_address_validated">
      <legend class="flexbox__item one-whole"></legend>
        <span class="delivery-address-text">Delivery Information:</span>
      </legend>
    </span>
    <span class="flexbox" ng-show="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY && !orderCtrl.s.is_address_validated">
      <span class="flexbox__item one-half">
        <legend>
          <span class="delivery-address-text">Address:</span>
        </legend>
        <input type="text" name="address" size="40" ng-model="orderCtrl.s.delivery_address" address>
      </span>
      <span class="flexbox__item one-quarter soft-half--sides">
        <legend>
          <span class="delivery-address-text">Apt/Unit:</span>
        </legend>
        <input type="text" name="address_2" size="10" ng-model="orderCtrl.s.delivery_address_2">
      </span>
      <span class="flexbox__item one-quarter">
        <legend >
          <span class="delivery-zipcode-text">Zip Code:</span>
        </legend>
        <span class="zipcode">
          <input type="text" name="zipcode" size="10" ng-model="orderCtrl.s.delivery_zipcode" zipcode>
        </span>
      </span>
    </span>
    <span class="flexbox" ng-show="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
      <span class="flexbox__item one-whole">
        <legend>
          <span class="delivery-instructions-text">Delivery Instructions (optional):</span>
        </legend>
        <input type="text" name="delivery_instructions" size="40" ng-model="orderCtrl.s.delivery_instructions">
      </span>
    </span>
    <button type="submit" class="btn" ng-show="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY && !(stage4.address.$error.address || stage4.zipcode.$error.zipcode) && !orderCtrl.s.is_address_validated" ng-click="orderCtrl.ValidateDeliveryAddress()">Validate Delivery Address</button>
    <span ng-show="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY && orderCtrl.s.validated_delivery_address" class="">
      <div class="wpcf7-response-output wpcf7-mail-sent-ok" ng-show="orderCtrl.s.is_address_validated">
        Found an address in our delivery area: <br />
        <span class="title cart">{{orderCtrl.s.validated_delivery_address}} <button name="remove" ng-click="orderCtrl.ClearAddress()" class="button-remove">X</button></span>
      </div>
      <div class="wpcf7-response-output wpcf7-mail-sent-ng" ng-show="!orderCtrl.s.is_address_validated">The address {{orderCtrl.s.validated_delivery_address}} isn't in our <a target="_blank" href="http://bit.ly/2QsrfV8">delivery area</a></div>
    </span>
    <div class="wpcf7-response-output wpcf7-mail-sent-ng" ng-show="orderCtrl.s.address_invalid">Unable to determine the specified address. Send us a text or email if you continue having issues.</div>
    <span ng-show="orderCtrl.s.service_type == orderCtrl.CONFIG.PICKUP && orderCtrl.CONFIG.ALLOW_SLICING">
      <br /><label><input type="checkbox" ng-model="orderCtrl.s.slice_pizzas" ng-change="orderCtrl.rebuildCartString()">
      Please slice my pizzas (not recommended)</label>
      <span ng-show="orderCtrl.s.slice_pizzas">Crust, like any good bread, should be given time to rest after baking. Slicing your pizzas as they come out of the oven also causes the trapped moisture at the top of the pizza to permiate the crust itself. If you do stick with this option, we'd recommend crisping up your slice on a hot skillet, as needed.</span>
    </span>
    </form>
    <div class="order-nav">
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
      <button type="submit" class="btn scrolltotop" ng-disabled="!orderCtrl.s.date_valid || (orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY && (!orderCtrl.s.is_address_validated))" ng-show="orderCtrl.HasNextStage()" ng-click="orderCtrl.rebuildCartString(); orderCtrl.NextStage();">Next</button>
    </div>
  </div>
  <div ng-show="orderCtrl.s.stage === 5">
    <h3 class="flush--top">Everything look right?</h3>
      <table>
        <tr>
          <td>Name</td>
          <td>{{orderCtrl.s.customer_name}}</td>
        </tr>
        <tr>
          <td>Mobile Number</td>
          <td>{{orderCtrl.s.phone_number}}</td>
        </tr>
        <tr>
          <td>E-Mail</td>
          <td>{{orderCtrl.s.email_address}}</td>
        </tr>
        <tr>
          <td>Service</td>
          <td>{{orderCtrl.CONFIG.SERVICE_TYPES[orderCtrl.s.service_type][0]}} on {{orderCtrl.s.date_string}} at {{orderCtrl.s.service_time | MinutesToPrintTime : orderCtrl.s.service_type}}</td>
        </tr>
        <tr ng-if="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
          <td>Address</td>
          <td>{{orderCtrl.s.validated_delivery_address}}{{orderCtrl.s.delivery_address_2 ? ", " + orderCtrl.s.delivery_address_2 : ""}}</td>
        </tr>
      </table>
      <div class="cart">
        <div class="content border-bottom border-none-at-medium">
          <table class="cart-table table-collapse-until-medium table-border-rows table-pad-line valign-middle header-color">
            <thead>
              <tr>
                <th>Item</th>
                <th class="hide-until-medium">
                  <div class="grid-flex grid-valign-middle">
                    <span class="column no-shrink">Quantity</span>
                    <span class="column no-shrink">×</span>
                    <span class="column no-shrink">Price</span>
                  </div>
                </th>
                <th class="align-right">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in orderCtrl.s.cart.pizza" class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="menu-list__item">
                      <wcppizzacartitem pizza="item[1]" description="true" dots="false" price="false"></wcppizzacartitem>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap">
                  <div class="grid-flex grid-valign-middle">
                    <span class="column no-shrink menu-list__item-price">{{item[0]}}</span>
                    <span class="column no-shrink">×</span>
                    <span class="column no-shrink menu-list__item-price">{{item[1].price}}</span>
                  </div>
                </td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{item[1].price * item[0] | number:2}}</span></td>
              </tr>
              <tr ng-repeat="item in orderCtrl.s.cart.extras" class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">{{item[1].name}}</span></h4>
                      <p class="menu-list__item-desc"><span class="desc__content">{{item[1].description}}</span></p>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap">
                  <div class="grid-flex grid-valign-middle">
                    <span class="column no-shrink menu-list__item-price">{{item[0]}}</span>
                    <span class="column no-shrink">×</span>
                    <span class="column no-shrink menu-list__item-price">{{item[1].price}}</span>
                  </div>
                </td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{item[1].price * item[0] | number:2}}</span></td>
              </tr>
              <tr class="cart-item" ng-if="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Delivery Fee<span ng-show="orderCtrl.s.delivery_fee === 0"> (waived)</span></span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap">
                  <span ng-show="orderCtrl.s.delivery_fee === 0" class="menu-list__item-price"><strike>{{5 | number:2}}</strike></span>
                  <span ng-show="orderCtrl.s.delivery_fee !== 0" class="menu-list__item-price">{{orderCtrl.s.delivery_fee | number:2}}</span>
                </td>
              </tr>
              <tr class="cart-item" ng-hide="orderCtrl.s.tip_value === 0">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Gratuity*</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{orderCtrl.s.tip_value | number:2}}</span></td>
              </tr>
              <tr class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Sales Tax ({{orderCtrl.CONFIG.TAX_RATE * 100 | number:1}}%)</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{orderCtrl.s.computed_tax | number:2}}</span></td>
              </tr>
              <tr class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Total</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{(orderCtrl.s.computed_subtotal + orderCtrl.s.delivery_fee + orderCtrl.s.tip_value + orderCtrl.s.computed_tax) | number: 2}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div ng-show="orderCtrl.s.service_type !== orderCtrl.CONFIG.DELIVERY">
      <label><input type="checkbox" ng-model="orderCtrl.s.acknowledge_instructions_dialogue" ng-change="orderCtrl.ClearSpecialInstructions()">
        I need to specify some special instructions (which may delay my order or change its cost) or wish to pay later.</label>
        <textarea ng-show="orderCtrl.s.acknowledge_instructions_dialogue" ng-model="orderCtrl.s.special_instructions"></textarea>  
    </div>
    <div ng-repeat="res in orderCtrl.s.special_instructions_responses" class="wpcf7-response-output wpcf7-validation-errors">{{res}}</div>
    <div class="order-nav">
      <span ng-show="false" cf7bridge class="cf7bridge scrolltotop" orderinfo="orderCtrl"></span>
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasNextStage() && !orderCtrl.s.acknowledge_instructions_dialogue" ng-click="orderCtrl.NextStage();">Next</button>
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.s.acknowledge_instructions_dialogue" ng-click="orderCtrl.SubmitToWario()">Submit Order</button>
    </div>
    <div ng-hide="orderCtrl.s.tip_value === 0">* Gratuity is shared among the entire team.</div>
  </div>
  <div ng-if="orderCtrl.s.stage === 6">
    <h3 ng-show="orderCtrl.computeDefaultTipIfClean()" class="flush--top">Add gratuity to your order and settle up!</h3>
    <h5>The Breezy Town Pizza family is working hard to serve you, safely. All gratuity is shared with the entire staff. Everyone, from our team that makes the house-made dough, to the staff that handles your order appreciates your support!</h5>
    <div class="flexbox">
      <div ng-hide="(orderCtrl.s.autograt === 0 && $index === 3) || (orderCtrl.s.autograt !== 0 && $index === 0)" class="flexbox__item one-third soft-quarter"  ng-repeat="tip in orderCtrl.s.tip_options" >
        <button ng-click="orderCtrl.s.selectPercentageTip($index)" ng-class="{btn:true, tipbtn:true, 'flexbox__item':true, 'one-whole':true, 'selected':orderCtrl.s.selected_tip==$index}" >
          <h3 class="flush--bottom">{{tip * 100| number:0}}&#37;</h3>
          <h5 class="flush--top">{{(orderCtrl.s.computed_subtotal + orderCtrl.s.delivery_fee  + orderCtrl.s.computed_tax) * tip | number: 2}}</h5>
        </button>
      </div>
    </div>
    <div class="flexbox">
      <div class="flexbox__item one-third soft-quarter" >
        <button ng-click="orderCtrl.s.selectCustomTip()" ng-class="{btn:true, tipbtn:true, 'flexbox__item':true, 'one-whole':true, 'selected':orderCtrl.s.show_custom_tip_input}" >
          <h3 class="flush">Custom Tip Amount</h3>
          <input ng-show="orderCtrl.s.show_custom_tip_input" type="number" class="quantity" min=0 ng-model="orderCtrl.s.custom_tip_value" ng-blur="orderCtrl.updateCustomTip()">
        </button>
      </div>
    </div>
    <div class="cart">
      <div class="content border-bottom border-none-at-medium">
        <table class="cart-table table-collapse-until-medium table-border-rows table-pad-line valign-middle header-color">
          <thead>
            <tr>
              <th>Item</th>
              <th class="hide-until-medium">
                <div class="grid-flex grid-valign-middle">
                  <span class="column no-shrink">Quantity</span>
                  <span class="column no-shrink">×</span>
                  <span class="column no-shrink">Price</span>
                </div>
              </th>
              <th class="align-right">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in orderCtrl.s.cart.pizza" class="cart-item">
              <td class="cart-item-description">
                <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                  <div class="menu-list__item">
                    <wcppizzacartitem pizza="item[1]" description="true" dots="false" price="false"></wcppizzacartitem>
                  </div>
                </div>
              </td>
              <td class="cart-item-quantity-price no-wrap">
                <div class="grid-flex grid-valign-middle">
                  <span class="column no-shrink menu-list__item-price">{{item[0]}}</span>
                  <span class="column no-shrink">×</span>
                  <span class="column no-shrink menu-list__item-price">{{item[1].price}}</span>
                </div>
              </td>
              <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{item[1].price * item[0] | number:2}}</span></td>
            </tr>
            <tr ng-repeat="item in orderCtrl.s.cart.extras" class="cart-item">
              <td class="cart-item-description">
                <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                  <div class="menu-list__item">
                    <h4 class="menu-list__item-title"><span class="item_title">{{item[1].name}}</span></h4>
                    <p class="menu-list__item-desc"><span class="desc__content">{{item[1].description}}</span></p>
                  </div>
                </div>
              </td>
              <td class="cart-item-quantity-price no-wrap">
                <div class="grid-flex grid-valign-middle">
                  <span class="column no-shrink menu-list__item-price">{{item[0]}}</span>
                  <span class="column no-shrink">×</span>
                  <span class="column no-shrink menu-list__item-price">{{item[1].price}}</span>
                </div>
              </td>
              <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{item[1].price * item[0] | number:2}}</span></td>
            </tr>
            <tr class="cart-item" ng-if="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
              <td class="cart-item-description">
                <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                  <div class="cart-item-title-subtitle column menu-list__item">
                    <h4 class="menu-list__item-title"><span class="item_title">Delivery Fee<span ng-show="orderCtrl.s.delivery_fee === 0"> (waived)</span></span></h4>
                  </div>
                </div>
              </td>
              <td class="cart-item-quantity-price no-wrap"></td>
              <td class="cart-item-subtotal no-wrap">
                <span ng-show="orderCtrl.s.delivery_fee === 0" class="menu-list__item-price"><strike>{{5 | number:2}}</strike></span>
                <span ng-show="orderCtrl.s.delivery_fee !== 0" class="menu-list__item-price">{{orderCtrl.s.delivery_fee | number:2}}</span>
              </td>
            </tr>
            <tr class="cart-item" ng-hide="orderCtrl.s.tip_value === 0">
              <td class="cart-item-description">
                <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                  <div class="cart-item-title-subtitle column menu-list__item">
                    <h4 class="menu-list__item-title"><span class="item_title">Gratuity*</span></h4>
                  </div>
                </div>
              </td>
              <td class="cart-item-quantity-price no-wrap"></td>
              <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{orderCtrl.s.tip_value | number:2}}</span></td>
            </tr>
            <tr class="cart-item">
              <td class="cart-item-description">
                <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                  <div class="cart-item-title-subtitle column menu-list__item">
                    <h4 class="menu-list__item-title"><span class="item_title">Sales Tax ({{orderCtrl.CONFIG.TAX_RATE * 100 | number:1}}%)</span></h4>
                  </div>
                </div>
              </td>
              <td class="cart-item-quantity-price no-wrap"></td>
              <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{orderCtrl.s.computed_tax | number:2}}</span></td>
            </tr>
            <tr class="cart-item">
              <td class="cart-item-description">
                <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                  <div class="cart-item-title-subtitle column menu-list__item">
                    <h4 class="menu-list__item-title"><span class="item_title">Total</span></h4>
                  </div>
                </div>
              </td>
              <td class="cart-item-quantity-price no-wrap"></td>
              <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{(orderCtrl.s.computed_subtotal + orderCtrl.s.delivery_fee + orderCtrl.s.tip_value + orderCtrl.s.computed_tax) | number: 2}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div ng-controller="PaymentController as pmntCtrl">
      <div ng-show="buildForm()"></div>
      <div id="form-container">
        <div id="sq-card" ></div>
        <div ng-repeat="e in card_errors" class="wpcf7-response-output wpcf7-mail-sent-ng">{{e.message}}</div>
      </div>
      <div class="order-nav">
        <button type="submit" class="btn scrolltotop" ng-disabled="orderCtrl.s.isProcessing" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
        <button id="sq-creditcard" class="btn scrolltotop" ng-click="submitForm()" ng-disabled="orderCtrl.s.isProcessing">Pay and submit order!</button>
      </div>
    </div>
  </div>
  <div ng-show="orderCtrl.s.stage >= 7">      
    <div ng-if="orderCtrl.s.isPaymentSuccess">
      <h3>Payment of ${{orderCtrl.s.payment_info.result.payment.total_money.amount / 100 | number:2}} received from card ending in: {{orderCtrl.s.payment_info.result.payment.card_details.card.last_4}}!</h3>
      <h6>You might get a few emails that sound like you still need to pay, but you don't. We JUST rolled out pre-payment and it might take a moment to fix the loose ends.</h6>
      Here's your <a ng-href="{{orderCtrl.s.payment_info.result.payment.receipt_url}}" target="_blank">receipt</a>.
    </div>
    <div ng-show="orderCtrl.s.stage === 7" class="wpcf7 wpcf7-response-output wpcf7-mail-sent-ok">Submitting order! This can take a few seconds.<span class="ajax-loader is-active"></span></div>
    <div ng-show="orderCtrl.s.stage === 8" class="submitsuccess wpcf7-response-output wpcf7-mail-sent-ok" >Order submitted successfully! Please check your email.</div>
  </div>
</div>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mailcheck/1.1.2/mailcheck.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
<script src="https://www.breezytownpizza.com/wp-includes/js/socket.io.js"></script>
<script src="https://www.breezytownpizza.com/wp-includes/js/socket.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://www.breezytownpizza.com/wp-includes/js/BTPMenu0.js"></script>
