<!DOCTYPE html>
<html>
  <head>
    <title>WCPOrderJSFE</title>
  </head>
  <body>
    Found an address in our delivery area: <br />
        <span class="title cart">{{orderCtrl.s.validated_delivery_address}} <button name="remove" ng-click="orderCtrl.ClearAddress()" class="button-remove">X</button></span>
      </div>
      <div class="wpcf7-response-output wpcf7-mail-sent-ng" ng-show="!orderCtrl.s.is_address_validated">The address {{orderCtrl.s.validated_delivery_address}} isn't in our <a target="_blank" ng-href="{{orderCtrl.CONFIG.DELIVERY_LINK}}">delivery area</a></div>
    </span>
    <div class="wpcf7-response-output wpcf7-mail-sent-ng" ng-show="orderCtrl.s.address_invalid">Unable to determine the specified address. Send us a text or email if you continue having issues.</div>
    </form>
    <span ng-show="orderCtrl.s.service_type === orderCtrl.CONFIG.PICKUP && orderCtrl.CONFIG.ALLOW_SLICING">
      <br /><label><input type="checkbox" ng-model="orderCtrl.s.slice_pizzas">
      Please slice my pizzas (not recommended)</label>
      <span ng-show="orderCtrl.s.slice_pizzas">Crust, like any good bread, should be given time to rest after baking. Slicing your pizzas as they come out of the oven also causes the trapped moisture at the top of the pizza to permiate the crust itself. If you do stick with this option, we'd recommend crisping up your slice on a hot skillet, as needed.</span>
    </span>
    <div class="order-nav">
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
      <button type="submit" class="btn scrolltotop" ng-disabled="!orderCtrl.s.date_valid || (orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY && (!orderCtrl.s.is_address_validated)) || (orderCtrl.s.service_type == orderCtrl.CONFIG.DINEIN && !orderCtrl.s.acknowledge_dine_in_terms)" ng-show="orderCtrl.HasNextStage()" ng-click="orderCtrl.NextStage(); orderCtrl.ClearTimeoutFlag();">{{(!orderCtrl.s.date_valid || (orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY && (!orderCtrl.s.is_address_validated))) ? "Pick a date & time" : "Next"}}</button>
    </div>
  </div>
  <div ng-show="orderCtrl.s.stage === 5 && !orderCtrl.s.isProcessing">
      <h3 class="flush--top">Everything look right?</h3>
      <table>
        <tr>
          <td>Name</td>
          <td>{{orderCtrl.s.customer_name_first}} {{orderCtrl.s.customer_name_last}}</td>
        </tr>
        <tr>
          <td>Mobile Number</td>
          <td>{{orderCtrl.s.phone_number}}</td>
        </tr>
        <tr>
          <td>E-Mail</td>
          <td>{{orderCtrl.s.email_address}}</td>
        </tr>
        <tr>
          <td>Service</td>
          <td>{{orderCtrl.CONFIG.SERVICE_TYPES[orderCtrl.s.service_type][0]}} on {{orderCtrl.s.date_string}} at {{orderCtrl.s.service_time | MinutesToPrintTime : orderCtrl.s.service_type}}</td>
        </tr>
        <tr ng-if="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
          <td>Address</td>
          <td>{{orderCtrl.s.validated_delivery_address}}{{orderCtrl.s.delivery_address_2 ? ", " + orderCtrl.s.delivery_address_2 : ""}}</td>
        </tr>
      </table>
      <div class="cart">
        <div class="content border-bottom border-none-at-medium">
          <table class="cart-table table-collapse-until-medium table-border-rows table-pad-line valign-middle header-color">
            <thead>
              <tr>
                <th>Item</th>
                <th class="hide-until-medium">
                  <div class="grid-flex grid-valign-middle">
                    <span class="column no-shrink">Quantity</span>
                    <span class="column no-shrink">×</span>
                    <span class="column no-shrink">Price</span>
                  </div>
                </th>
                <th class="align-right">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cart_item in orderCtrl.s.linear_cart" class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="menu-list__item">
                      <wcppizzacartitem prod="cart_item.pi" description="true" dots="false" price="false"></wcppizzacartitem>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap">
                  <div class="grid-flex grid-valign-middle">
                    <span class="column no-shrink menu-list__item-price">{{cart_item.quantity}}</span>
                    <span class="column no-shrink">×</span>
                    <span class="column no-shrink menu-list__item-price">{{cart_item.pi.price}}</span>
                  </div>
                </td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{cart_item.pi.price * cart_item.quantity | number:2}}</span></td>
              </tr>
              <tr class="cart-item" ng-if="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Delivery Fee<span ng-show="orderCtrl.s.delivery_fee === 0"> (waived)</span></span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap">
                  <span ng-show="orderCtrl.s.delivery_fee === 0" class="menu-list__item-price"><strike>{{5 | number:2}}</strike></span>
                  <span ng-show="orderCtrl.s.delivery_fee !== 0" class="menu-list__item-price">{{orderCtrl.s.delivery_fee | number:2}}</span>
                </td>
              </tr>
              <tr ng-if="orderCtrl.s.credit.validation_successful && orderCtrl.s.credit.type == 'DISCOUNT'" class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Discount Code Applied ({{orderCtrl.s.credit.code}})</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">-{{orderCtrl.s.credit.amount_used | number: 2}}</span></td>
              </tr>
              <tr class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Sales Tax ({{orderCtrl.CONFIG.TAX_RATE * 100 | number:1}}%)</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{orderCtrl.s.computed_tax | number:2}}</span></td>
              </tr>
              <tr class="cart-item" ng-hide="orderCtrl.s.tip_value === 0">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Gratuity*</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{orderCtrl.s.tip_value | number:2}}</span></td>
              </tr>
              <tr ng-if="orderCtrl.s.credit.validation_successful && orderCtrl.s.credit.type == 'MONEY'" class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Digital Gift Applied ({{orderCtrl.s.credit.code}})</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">-{{orderCtrl.s.credit.amount_used | number: 2}}</span></td>
              </tr>
              <tr class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Total</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{orderCtrl.s.balance | number: 2}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div ng-show="orderCtrl.s.service_type !== orderCtrl.CONFIG.DELIVERY && !orderCtrl.s.credit.validation_successful">
      <label><input type="checkbox" ng-model="orderCtrl.s.acknowledge_instructions_dialogue" ng-change="orderCtrl.ClearSpecialInstructions()">
      I need to specify some special instructions (which may delay my order or change its cost) or wish to pay later.</label>
      <textarea ng-show="orderCtrl.s.acknowledge_instructions_dialogue" ng-model="orderCtrl.s.special_instructions" ng-change="orderCtrl.ChangedEscapableInfo()"></textarea>
    </div>
    <div ng-repeat="res in orderCtrl.s.special_instructions_responses" class="wpcf7-response-output wpcf7-validation-errors">{{res}}</div>
    <div class="order-nav">
      <span ng-show="false" cf7bridge class="cf7bridge scrolltotop" orderinfo="orderCtrl"></span>
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
      <button type="submit" class="btn scrolltotop" ng-show="orderCtrl.HasNextStage() && !orderCtrl.s.acknowledge_instructions_dialogue" ng-click="orderCtrl.NextStage();">Next</button>
      <button type="submit" class="btn scrolltotop" ng-disabled="orderCtrl.s.disableorder" ng-show="orderCtrl.s.acknowledge_instructions_dialogue" ng-click="orderCtrl.SubmitToWario()">Submit Order</button>
    </div>
    <div ng-hide="orderCtrl.s.tip_value === 0">* Gratuity is shared among the entire team.</div>
  </div>
  <div ng-if="orderCtrl.s.stage === 6">
    <div ng-hide="orderCtrl.s.isProcessing">
      <h3 ng-show="orderCtrl.computeDefaultTipIfClean()" class="flush--top">Add gratuity to your order and settle up!</h3>
      <h5>{{orderCtrl.CONFIG.TIP_PREAMBLE}}</h5>
      <div class="flexbox">
        <div ng-hide="(orderCtrl.s.autograt === 0 && $index === 3) || (orderCtrl.s.autograt !== 0 && $index === 0)" class="flexbox__item one-third soft-quarter"  ng-repeat="tip in orderCtrl.s.tip_options" >
          <button ng-click="orderCtrl.s.selectPercentageTip($index)" ng-class="{btn:true, tipbtn:true, 'flexbox__item':true, 'one-whole':true, 'selected':orderCtrl.s.selected_tip==$index}" >
            <h3 class="flush--bottom">{{tip * 100| number:0}}&#37;</h3>
            <h5 class="flush--top">{{(orderCtrl.s.computed_subtotal + orderCtrl.s.delivery_fee  + orderCtrl.s.computed_tax) * tip | number: 2}}</h5>
          </button>
        </div>
      </div>
      <div class="flexbox">
        <div class="flexbox__item one-third soft-quarter" >
          <button ng-click="orderCtrl.s.selectCustomTip()" ng-class="{btn:true, tipbtn:true, 'flexbox__item':true, 'one-whole':true, 'selected':orderCtrl.s.show_custom_tip_input}" >
            <h3 class="flush">Custom Tip Amount</h3>
            <input ng-show="orderCtrl.s.show_custom_tip_input" type="number" class="quantity" min=0 ng-model="orderCtrl.s.custom_tip_value" ng-blur="orderCtrl.updateCustomTip()">
          </button>
        </div>
      </div>
      <div class="cart">
        <div class="content border-bottom border-none-at-medium">
          <table class="cart-table table-collapse-until-medium table-border-rows table-pad-line valign-middle header-color">
            <thead>
              <tr>
                <th>Item</th>
                <th class="hide-until-medium">
                  <div class="grid-flex grid-valign-middle">
                    <span class="column no-shrink">Quantity</span>
                    <span class="column no-shrink">×</span>
                    <span class="column no-shrink">Price</span>
                  </div>
                </th>
                <th class="align-right">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cart_item in orderCtrl.s.linear_cart" class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="menu-list__item">
                      <wcppizzacartitem prod="cart_item.pi" description="true" dots="false" price="false"></wcppizzacartitem>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap">
                  <div class="grid-flex grid-valign-middle">
                    <span class="column no-shrink menu-list__item-price">{{cart_item.quantity}}</span>
                    <span class="column no-shrink">×</span>
                    <span class="column no-shrink menu-list__item-price">{{cart_item.pi.price}}</span>
                  </div>
                </td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{cart_item.pi.price * cart_item.quantity | number:2}}</span></td>
              </tr>
              <tr class="cart-item" ng-if="orderCtrl.s.service_type == orderCtrl.CONFIG.DELIVERY">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Delivery Fee<span ng-show="orderCtrl.s.delivery_fee === 0"> (waived)</span></span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap">
                  <span ng-show="orderCtrl.s.delivery_fee === 0" class="menu-list__item-price"><strike>{{5 | number:2}}</strike></span>
                  <span ng-show="orderCtrl.s.delivery_fee !== 0" class="menu-list__item-price">{{orderCtrl.s.delivery_fee | number:2}}</span>
                </td>
              </tr>
              <tr ng-if="orderCtrl.s.credit.validation_successful && orderCtrl.s.credit.type == 'DISCOUNT'" class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Discount Code Applied ({{orderCtrl.s.credit.code}})</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">-{{orderCtrl.s.credit.amount_used | number: 2}}</span></td>
              </tr>
              <tr class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Sales Tax ({{orderCtrl.CONFIG.TAX_RATE * 100 | number:1}}%)</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{orderCtrl.s.computed_tax | number:2}}</span></td>
              </tr>
              <tr class="cart-item" ng-hide="orderCtrl.s.tip_value === 0">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Gratuity*</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{orderCtrl.s.tip_value | number:2}}</span></td>
              </tr>
              <tr ng-if="orderCtrl.s.credit.validation_successful && orderCtrl.s.credit.type == 'MONEY'" class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Digital Gift Applied ({{orderCtrl.s.credit.code}})</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">-{{orderCtrl.s.credit.amount_used | number: 2}}</span></td>
              </tr>
              <tr class="cart-item">
                <td class="cart-item-description">
                  <div class="grid-flex grid-align-justify grid-align-left-at-small grid-valign-middle">
                    <div class="cart-item-title-subtitle column menu-list__item">
                      <h4 class="menu-list__item-title"><span class="item_title">Total</span></h4>
                    </div>
                  </div>
                </td>
                <td class="cart-item-quantity-price no-wrap"></td>
                <td class="cart-item-subtotal no-wrap"><span class="menu-list__item-price">{{orderCtrl.s.balance | number: 2}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="wpcf7-response-output wpcf7-mail-sent-ng" ng-if="orderCtrl.s.selected_time_timeout">The previously selected service time has expired. We've updated your service time to {{orderCtrl.s.service_time | MinutesToPrintTime : orderCtrl.s.service_type}}.</div>
      <div class="wpcf7-response-output wpcf7-mail-sent-ng" ng-if="orderCtrl.s.credit.validation_fail">Code entered looks to be invalid. Please check your input and try again. Please copy/paste from the e-mail you received. Credit codes are case sensitive.</div>
      <div class="flexbox">
        <h4 class="flexbox__item one-whole">Payment Information:</h4>
      </div>
      <div class="soft-half">
        <div class="flexbox">
          <input type="checkbox" class="flexbox__item" id="use_store_credit" ng-model="orderCtrl.s.use_store_credit" ng-change="orderCtrl.ToggleUseStoreCredit()" />
          <label class="flexbox__item soft-half--left" for="use_store_credit">Use Digital Gift Card / Store Credit</label>
        </div>
        <div class="flexbox" ng-show="orderCtrl.s.use_store_credit">
          <div class="flexbox__item one-tenth"><label for="store_credit_code">Code:</label></div>
          <div class="flexbox__item soft-half--left three-quarters">
            <span ng-show="!orderCtrl.s.credit.validation_successful && !orderCtrl.s.credit.validation_processing" class="float--right"><input jqmaskedstorecredit type="text" id="store_credit_code" name="store_credit_code" value="" size="20" ng-model="orderCtrl.s.credit.code"></span>
            <span ng-show="orderCtrl.s.credit.validation_successful || orderCtrl.s.credit.validation_processing" class="float--right"><input type="text" disabled size="20" ng-model="orderCtrl.s.credit.code"></span>
          </div>
          <div class="flexbox__item soft-half--left">
            <span ng-show="orderCtrl.s.credit.validation_successful" class="icon-check-circle"></span>
            <span ng-show="orderCtrl.s.credit.validation_fail" class="icon-exclamation-circle"></span>
          </div>
        </div>
      </div>
      <div ng-controller="PaymentController as pmntCtrl">
        <div ng-show="buildForm()"></div>
        <div ng-hide="orderCtrl.s.balance == 0" id="form-container">
          <div class="flexbox">
            Credit Card Information
          </div>     
          <div class="flexbox soft-half--top">
            <div id="sq-card" ></div>
          </div>
          <div ng-repeat="e in orderCtrl.s.card_errors" class="wpcf7-response-output wpcf7-mail-sent-ng">{{e.message}}</div>
        </div>
        <div>Note: Once orders are submitted, they are non-refundable. We will attempt to make any changes requested, but please do your due diligence to check the order for correctness!</div>
        <div class="order-nav" ng-show="orderCtrl.s.stage === 6">
          <button type="submit" class="btn scrolltotop" ng-disabled="orderCtrl.s.isProcessing" ng-show="orderCtrl.HasPreviousStage()" ng-click="orderCtrl.PreviousStage()">Previous</button>
          <button ng-show="orderCtrl.s.balance > 0" id="sq-creditcard" class="btn scrolltotop" ng-click="submitForm()" ng-disabled="orderCtrl.s.isProcessing">Pay and submit order!</button>
          <button ng-show="orderCtrl.s.balance == 0" class="btn scrolltotop" ng-click="orderCtrl.SubmitToWario()" ng-disabled="orderCtrl.s.isProcessing">Pay and submit order!</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="orderCtrl.s.isProcessing" class="wpcf7 wpcf7-response-output wpcf7-mail-sent-ok">Submitting order! This can take a few seconds.<span class="ajax-loader is-active"></span></div>
  <div ng-show="orderCtrl.s.stage >= 7">      
    <div ng-show="orderCtrl.s.stage === 7" class="submitsuccess wpcf7-response-output wpcf7-mail-sent-ok" >Order submitted successfully! Please check your email.</div>
    <div ng-show="orderCtrl.s.stage === 8" class="wpcf7-response-output wpcf7-validation-errors" >We had some issues processing your order. Please send us a text message or email so we can look into it.</div>
    <div ng-if="orderCtrl.s.isPaymentSuccess">
      Payment of ${{orderCtrl.s.payment_info.result.payment.total_money.amount / 100 | number:2}} received from card ending in: {{orderCtrl.s.payment_info.result.payment.card_details.card.last_4}}!
      Here's your <a ng-href="{{orderCtrl.s.payment_info.result.payment.receipt_url}}" target="_blank">receipt</a>.
    </div>
    <div ng-if="orderCtrl.s.credit.amount_used > 0 && orderCtrl.s.stage === 7">
      Digital Gift Card number {{orderCtrl.s.credit.code}} debited ${{orderCtrl.s.credit.amount_used | number:2}}.
      <span ng-show="orderCtrl.s.credit.amount === orderCtrl.s.credit.amount_used">No balance remains.</span>
      <span ng-show="orderCtrl.s.credit.amount !== orderCtrl.s.credit.amount_used">Balance of ${{(orderCtrl.s.credit.amount - orderCtrl.s.credit.amount_used) | number:2}} remains.</span>
    </div>
  </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha512-jGsMH83oKe9asCpkOVkBnUrDDTp8wl+adkB2D+//JtlxO4SrLoJdhbOysIFQJloQFD+C4Fl1rMsQZF76JjV0eQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
      <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular-sanitize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular-animate.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mailcheck/1.1.2/mailcheck.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-socket-io/0.7.0/socket.min.js" integrity="sha512-RB0FN8aKxL1P9La/rZN27Jk6istGcQxfgipQGx1D+abcsdwpBnMeZnw8O3DfQvwerZ8VLie+UUdUgiYz0sgwvA==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
      <script>

var WCP_BLOG_LOAD_TIME = moment(new Date());//[WCP_blog_epoch_time]));


      </script>
      <script src="bundle.js"></script>
  </body>
</html>